.top{
    padding-right:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    background:rgba(219, 215, 215, 0.951);
    text-align: right;
    padding-top:9px;
    padding-bottom:9px;
    width: 1000px;
    margin: 0 auto;
}
.top div{
    display:inline-block;
}
.top .society-facebook{
    border-right: 1px solid rgb(183, 181, 181) ;
    padding-right: 7px;
    
}
.top .society-facebook a{
    color: rgb(54, 117, 226);
    text-decoration: none;
}
.top .society-facebook a:hover{
    border-bottom: 1px solid rgb(54, 117, 226);;
}
.top .society-twitter a{
    color: rgb(81, 172, 225);
    text-decoration: none;
}
.top .society-twitter a:hover{
    border-bottom: 1px solid rgb(81, 172, 225);
}
.header{
    background: white;
    width:1000px;
    height:60px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}
.header .name{
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.header .name a{
    color: rgb(115, 174, 140);
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding:19px;
}
.header .name a:hover{
    border-bottom: 3px solid rgb(105,153,16);
}
.banner-all{
    width:1000px;
    margin: 0 auto;
    position: relative;
}

.banner-text{
    position: absolute;
    left:0;
    top:25%;
    bottom:25%;
    padding-top:30px;
    padding-bottom:30px;
    width:1000px;
    line-height: 1.65;
    font-size: 26px;
    background: rgb(8, 7, 7);
    opacity: 40%;
}
.banner-content{
    position: absolute;
    left:25px;
    top:37%;
    font-size: 32px;
    color:white;
    line-height: 1.5;
}
.content{
    margin:0 auto;
    justify-content: space-around;
    width:990px;
    display: flex;
    margin-bottom: 40px;
}
.content-item{
    width:31.15%;
    margin-top:60px;
    box-shadow: 4px 4px 7px gray;
}
.content-item img{
    width:95%;
    margin-left:11px;
    margin-right:11px;
}
.content-item h2{
    text-align: center;
    font-weight: bolder;
    font-size: 19px;
    padding-bottom:12px;
}
.content-item p{
    line-height: 1.65;
    text-align: justify;
    padding-right:18px;
    padding-left:18px;
    padding-bottom:18px;
}
.content-item .jQuery{
    line-height: 1.45;
    text-align: justify;
    padding-left:10%;
}
.content-item ul{
    line-height: 1.4;
    text-align: justify;
    padding-top:7px;
    padding-left:11.5%;
    padding-bottom:18px;
}
.table table{
    text-align: left;
    border-top:0.1px solid rgb(183, 183, 183);
    width:850px;
    margin: 0 auto;
    margin-bottom:50px;
    line-height: 2.35;
}
.table h1{
    text-align: center;
    font-size:24px;
    padding-top:15px;
    padding-bottom:32px;
}
.table th{
    background-color: rgb(240, 240, 240);
    font-weight: bolder;
    border-bottom:0.1px solid rgb(183, 183, 183);
}
.table td{
    border-bottom:0.1px solid rgb(183, 183, 183);
}
.tb-first{
    padding-left:24px;
}
.tb-focus{
    color:rgb(115, 174, 140);
}

.list{
    margin-top:40px;
    width:1000px;
    margin: 0 auto;
    background:linear-gradient(#00644b,#009771);
}
.list-h1{
    padding-top:25px;
}
.list h1{
    color:white;
    text-align: center;
    line-height: 1.75;
    font-size:19px;
}
.list-content-all{
    display: flex;
    width:1000px;
    margin: 0 auto;  
}
.list-content-all iframe{
    width:50%;
    height:300px;
    margin:20px;
}
.list-content{
    padding-top:15px;
    width:50%;
}
.list-content div{
    margin:15px;
    height:30%;
    
}
.form-name{
    line-height: 1.7;
    color:white;
}
.list-content input{
    height:35px;
    width:100%;
    
}
.list-content .button-info{
    display: flex;
    justify-content: flex-end;
    
}
.list-content .button{
    margin-right:5px;
    padding-right:18px;
    padding-left:18px;
    font-size:14px;
    color:white;
    background: rgb(14, 196, 41);
    
}
.footer{
    margin-bottom:60px;
    padding-top:20px;
    padding-left:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1000px;
    margin: 0 auto;
    margin-bottom:20px;
}
.footer-text{
    line-height: 1.5;
    padding-right:40px;
}
.footer-text-color{
    color:rgb(241, 112, 133);
}