
.top{
    padding-right:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    background:rgba(219, 215, 215, 0.951);
    text-align: right;
    padding-top:9px;
    padding-bottom:9px;
    width:1000px;
    margin: 0 auto;
}
.top div{
    display:inline-block;
}
.top .society-facebook{
    border-right: 1px solid rgb(183, 181, 181) ;
    padding-right: 7px;
    
}
.top .society-facebook a{
    color: rgb(54, 117, 226);
    text-decoration: none;
}
.top .society-facebook a:hover{
    border-bottom: 1px solid rgb(54, 117, 226);;
}
.top .society-twitter a{
    color: rgb(81, 172, 225);
    text-decoration: none;
}
.top .society-twitter a:hover{
    border-bottom: 1px solid rgb(81, 172, 225);
}
.header{
    background: white;
    width:1000px;
    height:60px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}
.header .name{
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.header .name a{
    color: rgb(112, 169, 88);
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding:20px;
}
.header .name a:hover{
    border-bottom: 2px solid rgb(105,153,16);
}
.buy-banner{
    width:1000px;
    margin: 0 auto;
}
.buy-banner img{
    width:100%;
}
.menu-all{
    width:1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu-select{
    width:130px;
    margin-top:10px;
    margin-bottom:8px;
    margin-left:20px;
    padding-top:45px;
}
.menu-select li{
    line-height: 1.5;
}
.menu-select-title{
    color:rgb(89, 89, 89);
    display: block;
    text-decoration: none;
    font-size:21px;
    text-align: center;
    padding-bottom:7px;
    border-bottom:0.15px solid gray;
}

.menu-select-item a{
    text-align: center;
    color:gray;
    display: block;
    text-decoration: none;
    font-size:16px;
    line-height: 2.15;
}
.menu-select-item a:hover{
    background:rgb(181, 180, 180);
    color:rgb(0, 225, 255);
}
.query{
    border-bottom: 1px solid gray;
    font-size:21px;
    margin-top:14.75px;
    padding-bottom:9.75px;
    position: relative;
}
.menu{
    width:750px;
}
.menu li{
    display: inline-block;
    border:2px solid black;
    width:160px;
    height:180px;
    margin:10px;
    position: relative;
    box-shadow:2px 3px 2px gray;
}
.shop-button{
    width:140px;
    text-align: center;
    display: block;
    margin: 5px auto;
}
.menu li img{
    width:80%;
    height:55%;
    padding-left: 24px;
    margin-top:5px;

}
.menu li h2{
    font-size:18.5px;
    text-align: center;
    margin-top:3px;
    margin-bottom:3px;
}
.menu li .money,.money2{
    
    font-size:13px;
    margin-top:3px;
    display:inline-block;
    margin-left:5px;
}
.money-all{
    width:150px;
    margin: 0 auto;
    margin-top:6px;
}
.super{
    position: absolute;
    left: 0;
    top:0px;
    width:45px;
    height:25px;
    background: red;
}
.super-name{
    position: absolute;
    top:3px;
    left:5.7px;
    color:white;
    
}
.footer{
    margin-bottom:60px;
    padding-top:20px;
    padding-left:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1000px;
    margin: 0 auto;
}
.footer-text{
    line-height: 1.5;
    padding-right:40px;
    margin-bottom:20px;
}
.footer-text-color{
    color:rgb(241, 112, 133);
}